@model isrpo_practice.Room

@{
    ViewBag.Title = "Удалить";
}

<h2>Удалить</h2>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Комната</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            № комнаты
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_room)
        </dd>

        <dt>
            Количество человек
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_of_person)
        </dd>

        <dt>
            Комментарий
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("К списку комнат", "Index")
        </div>
    }
</div>
