@model isrpo_practice.Student

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <h4>Студент</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Family)
        </dd>

        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Отчество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Othestvo)
        </dd>

        <dt>
            Адрес
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            № пропуска
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Badge.Id)
        </dd>

        <dt>
            № договора
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract.Id_contract)
        </dd>

        <dt>
            № комнаты
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.Id_room)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole(isrpo_practice.Controllers.AccountController.RoleAdmin))
    {
        @Html.ActionLink("Изменить", "Edit", new { id = Model.ID_Student })
        @Html.Raw(" | ")//
    }
        @Html.ActionLink("К списку студентов", "Index")
    </p>
